@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
	background-color: #000000;
}

#contenedor{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

h1, h2{margin-top: 25px;
	color: #ffffff;
	font-family: Montserrat;
	margin-bottom: 10px; 
	text-align: left;
}

p{
	color: #ffffff;
	font-family: Montserrat;
}

.ejercicio {
		color: #ffffff;
		font-family: Montserrat;
		text-align: justify;
		font-size: 20px;

}



.multifondo {
			      width: 960px;
          height:600px;
          margin-right: auto;
          margin-left: auto;
          background:
   
       	  url(dados.png) right bottom no-repeat,
       	 url(mesa.jpg) 0 0 no-repeat;
    }
	
.sombra{
		width: 960px;
	height: 640px;
	box-shadow: 30px 10px 20px #aaa;
	border-radius: 	20px;
	background-color: green;
}
.filtro1{
	filter: sepia(1);
}
.filtro2{
	filter: brightness(1.5);
}
#columnas1{
		width: 600px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	column-count: 3;
	column-gap: 40px;
	column-rule: 1px solid green;
	border-color: #f00;
	border-width: 2px;
	border-style: unset	;
}

.bordes{
	border-radius: 	30px 5px 30px 5px;
}
.transparencia{
	width: 960px;
	height: 640px;
	background-color: rgba(100,100,100,0.50);
	

}
.degradado {
		width: 960px;
	height: 640px;
	
	background: linear-gradient(rgb(0,0,255),rgb(255,0,0));
}